# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.in~

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build products
aclocal.m4
autom4te.cache/
config/ltmain.sh
config/pmishim_get_version.sh
Makefile.in
config.log
config/compile
config/config.guess
config/config.sub
config/install-sh
config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/missing
configure
config/pmishim_get_version.sh~
configure~
libtool
Makefile
config.status
config/depcomp
include/pmishim_version.h
src/.deps/
src/.libs/
src/Makefile
src/include/pmishim_config.h
src/include/pmishim_config.h.in
src/include/stamp-h1
src/include/version.h

